@import "../mixins/_mixin.styl";

/* layout */
$headerHeight = 64px
$navWidth = 192px
$navWidthCollapsed = 64px
$margin = 16px
$padding = 24px
$contentMinWidth = 976px // 1200 - $navWidth - $margin * 2
$contentMinWidth2 = 1104px // 1200 - $navWidthCollapsed - $margin * 2
$contentAreaWidth = 944px // 1200 - $navWidthCollapsed - $margin * 2 - padding(16px) * 2
$contentAreaWidth = 1072px // 1200 - $navWidthCollapsed - $margin * 2 - padding(16px) * 2
$contentMarginLeft = 208px // $navWidth + $margin
$contentMarginTop = 80px // $headerHeight + $margin

/* color black */
$black = #333
$black0 = #2b2b2b  // rgb(43, 43, 43)
$navBlack = #011529
$navBlackActive = #010917
$logo-bg = #022739

/* color light */
$navLight = #fff
$navLightActive = darken(#fff, 2%)

/* color gray */
$body-bg = #f0f2f6
$gray = #666
$gray0 = #6c6c6c
$gray1 = #cfcfcf
$gray2 = #f3f3f3
$light-gray = #999
$gray-line = #dddee1


/* color blue/primary */
$primary = #3596fc
$blue = #3596fc
$blue0 = #0b60ce
$blue1 = #007fc1
$blue2 = #00d4da
$blue3 = #0082c2
$blue4 = #00bfd3
$blueDark = #1e3258
$bluebg = #dee9fa
$blue-hover = #479ffc
$blue-btn-hover = #21adfe
$blue-disabled = #63a1e2
$input-line-hover = #5dabfd
$td-hover = #ebf7ff

$orange = #f7b925
$orange1 = #f60
$orange-f90 = #f90
$green = #30d585
$green0 = #00ff96
$red = #ff524e // rgb(255, 82, 78)
$purple = #7e58ed
$controlsStroke = #d8d8d8 // 控件正常、完成、禁用的描边
$gray-blue-disabled = #70b3ed // 按钮禁用
$info = #edf9ff
$info-border = #8dd3ff
$content-bg = #f5f5fa
$disabled-bg = #f0f0f0

/* color pink */
$pink = #fcc1be
$pink_deep = #ff524e
$pink_bg = rgba(255, 82, 78, 0.14)
$pink_fc = #fc596d /* button */


/* new rule*/
$currencyRed = #ff524e
$currencyBlue = #1890ff
$currencyGray = #f0f2f5
$currencyGreen = #52c41a
$currencyPlaceholderAndBorder = #d9d9d9
$contentBgColor = #f0f2f5

/* height */
$bottomBarHeight = 4.9rem

/* shadow */
$bottomShadow = 0 .05rem .4rem 0 rgba(0, 0, 0, .0784)
